/* ================================================================================================= */
/* #region NEW REGION                                                                                */
/* ================================================================================================= */


/* #endregion NEW REGION */ 

 
/* ================================================================================================= */
/* #region CSS RESET                                                                                 */
/* ================================================================================================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}


/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* #endregion CSS RESET */



/* ================================================================================================= */
/* #region CSS CUSTOM PROPERTIES (VARIABLES)                                                         */
/* ================================================================================================= */


:root {
  --primary-color : #F5F4F1;
  --secondary-color : #D6CEC2;
  --accent-color : #4E0707;
  --text-color : #1D1615;
  --font-primary : 'Roboto' , sans-serif;
  --font-secondary : 'Playfair' , serif;

}

/* #endregion CSS CUSTOM PROPERTIES (VARIABLES) 


/* ================================================================================================= */
/* #region HEADER                                                                                    */
/* ================================================================================================= */

/* #endregion HEADER */


/* ================================================================================================= */
/* #region FOOTER                                                                                    */
/* ================================================================================================= */

/* #endregion FOOTER */


/* ================================================================================================= */
/* #region APP (GALERY)                                                                              */
/* ================================================================================================= */

#app {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em; 
  align-items: center;
  justify-content: center;
}

.app-img {
  width: 12em;
  height: 12em;
  border-radius: 8px;
  border: var(--accent-color);
}

/* #endregion APP (GALERY) */


/* ================================================================================================= */
/* #region GEMENI API                                                                                */
/* ================================================================================================= */

body {
  font-family: var(--font-primary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}

header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items:center;
  margin-bottom: 2em;
  padding-top: 2em;
}

#app {
  width: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1em; 
  align-items: center;
  justify-content: center;
}

.app-img {
  width: 12em;
  height: 12em;
  border-radius: 8px;
  border: 2px solid var(--accent-color);
}

.button-AI {
  background-color: var(--secondary-color);
  border: 2px solid var(--accent-color);
  border-radius: 1rem;
  color: var(--text-color);
  padding: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-left: 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.text-AI {
  margin: auto 0 auto 3rem;
}

.dots-AI {
  margin: auto auto auto 0;
}

.button-AI:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
  transform: translateY(1px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-AI:active {
  background-color: #3a0505;
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  border-color: #3a0505;
}



/* #endregion GEMENI AP */